.classpath
.project
.settings/
.idea/
.svn/
nb-configuration.xml
nbactions.xml
*.iml
.DS_Store
log/
bin/
target/
out/

*.class

# Package Files #
*.jar
*.war
*.ear

# temp files #
ta4j-examples/indicators.csv