.classpath
.project
.settings/
.idea/
nb-configuration.xml
nbactions.xml
*.iml
.DS_Store
log/
bin/
target/
out/
build/
.gradle/
*.class

# Package Files #
*.jar
*.war
*.ear

# temp files #
ta4j-examples/indicators.csv
ta4j-examples/build/
ta4j-core/build/
release.properties