<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %.-1level [%-25.25class{0}] [%-15.15method] %msg%n</pattern>
    </encoder>
  </appender>

<logger name="org.ta4j.core" level="trace"/>

  <root level="warning">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>