name: Lint GitHub Actions Workflows
permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run actionlint
        uses: rhysd/actionlint@v1.7.9
