name: Validate Source Code
permissions:
  contents: read

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Validate Source Code Formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up Java
        uses: ./.github/actions/setup-java
        with:
          cache: maven

      - name: Validate source code formatting
        run: xvfb-run mvn -B formatter:validate
